[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
setuptools = "*"
fastapi = "*"
sqlalchemy = "*"
uvicorn = {extras = ["standard"], version = "*"}
psutil = "*"
psycopg2-binary = "*"

[dev-packages]
flake8 = "*"
isort = "*"
black = {extras = ["d"], version = "*"}
pylint = {extras = ["spelling"], version = "*"}
setuptools = "*"
ipython = "*"

[requires]
python_version = "3.12"
